.server {
  display: none !important;
  border: none !important;
}

main {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 60px;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgb(29, 30, 41);
}

.content {
  width: 100%;
  height: calc(100% - 60px);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  margin: 40px auto;
}

#text {
  color: lightblue;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgb(22, 37, 70);
  object-fit: cover;
}

.img img {
  width: 100%;
}

.g2 {
  padding: 5px 10px;
  border: none;
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  font-size: 18px;
  transition: all .1s linear;
  cursor: pointer;
}

.g2:hover {
  background: rgb(221, 221, 221);
}