

#text {
  color: lightblue;
}

.g2 {
  padding: 5px 10px;
  border: none;
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  font-size: 18px;
  transition: all .1s linear;
  cursor: pointer;
}

.g2:hover {
  background: rgb(221, 221, 221);
}