<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home page</title>
  <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
  <h1>Wellcome to my page home!</h1>
  <p>make your login in this page <a href="/login">here</a></p>
</body>
</html>