<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="270885014673-0mnqm5vuuai6brhetqeposvu06pejcp0.apps.googleusercontent.com" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login</title>
</head>
<body>


  <main>
    <header>
      <h1>Login</h1>
      <span class="server name"></span>
      <span class="server img"></span>
    </header>
    <section class="content">
      <div class="item">
        <p id="text">Make your login with google</p>
      </div>
      <div class="item">
        <div class="g-signin2 server" id="g" data-onsuccess="onSignIn"></div>
      </div>
    </section>
  </main>
  <script src="/js/login.js"></script>
</body>
</html>